name: <NAME>
provider: gce
type: ocp
release: v3.5

dns:
  zone: nip

ssh:
  key: <KEY>

users:
  - username: admin
    password: password
    admin: true
  - username: user
    password: password
    sudoer: true
  - username: user
    password: password
    generic: true
    min: 0
    max: 3

nodes:
  count: 0
  infra: false
  type: n1-standard-1
  disk:
    size: 10

gce:
  account: <GCP_JSON>
  region: europe-west1
  zone: europe-west1-b
  project: <PROJECT>
